


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}



/* Ensure body content is positioned correctly */
.container {
    margin-left: 180px; /* Adjusted to match sidebar width */
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: calc(100% - 180px); /* Adjust width to account for the sidebar */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1b75bc;
    padding-bottom: 10px;
}

.header img {
    height: 70px;
}

.header h1 {
    font-size: 24px;
    color: #1b75bc;
}

.section {
    margin: 20px 0;
}

.section h2 {
    font-size: 18px;
    background: #1b75bc;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.section table, .section th, .section td {
    border: 1px solid #ddd;
}

.section th, .section td {
    padding: 10px;
    text-align: left;
}

.section th {
    background: #f4f4f4;
}
