body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}



.content {
    flex-grow: 1;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width */
    margin-left: 180px; /* Account for sidebar width */
    height: calc(100vh - 40px); /* Adjust height to account for the header */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.header h1 {
    margin: 0;
}

.logout {
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* Table Styles */
#studentsTable {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Ensure margin-top is sufficient for fixed header */
}

#studentsTable th, #studentsTable td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

#studentsTable th {
    background-color: #2c3e50;
    color: white;
}

#studentsTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#studentsTable tr:hover {
    background-color: #f1f1f1;
}

input[type="text"] {
    padding: 10px;
    width: ;
    margin-bottom: 10px; /* Space below the search bar */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 16px; /* Ensure text is visible */
	margin-top:50px;
}


